@model dynamic

@{
    ViewBag.Title = "회원가입";
    Layout = "_Layout";
}

<div class="register-form">
    <h1>회원가입</h1>
    
    <form method="post" action="/register/post">
        <input autocomplete="off" name="Id" placeholder="아이디를 입력해주세요" type="text" />
        <input autocomplete="off" name="Password" placeholder="비밀번호를 입력해주세요" type="password"/>
        <input autocomplete="off" name="PasswordCheck" placeholder="비밀번호 체크" type="password" />
        <input autocomplete="off" name="Name" placeholder="이름을 입력해주세요" type="text" />
        
        <div class="button-form">
            <button>회원가입</button>
            <a href="/"><button type="button">취소</button></a>
        </div>
    </form>
</div>

<style>
    .register-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 15%;
    }
    
    input {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        background-color: #363636;
        color: white;
        border-radius: 10px;
        margin: 1%;
    }
    
    input:focus {
        outline: none;
    }
    
    button:first-child {
        width: 20%;
        border: none;
        padding: 10px;
        background-color: dodgerblue;
        border-radius: 10px;
        color: white;
        margin-left: 1%;
    }
    
    button:last-child {
        width: 20%;
        border: none;
        padding: 10px;
        background-color: gray;
        border-radius: 10px;
        color: white;
        margin-left: 1%;
    }
    
    .button-form {
        margin-top: 1%;
    }
</style>